@tailwind base;
@tailwind components;
@tailwind utilities;




/* Target the scrollbar track */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Default width of the scrollbar */
}

/* Scrollbar track */
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-base-50 dark:bg-base-950
   /* Track color */
}

/* Scrollbar thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6366f1 ; /* Scrollbar color */
  border-radius: 16px; /* Optional: Rounded corners */
}

/* Hover state */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color on hover */
}

.custom-scrollbar {
  overflow-y: scroll; /* Add the ability to scroll vertically */
  position: relative;
}